# Python virtual environment
.venv/


# Python cache
__pycache__/
*.pyc


# Dataset
data/
data


# Trained models
models/


# Local MLflow storage
mlflow.db
mlruns/
mlartifacts/


# Environment variables / secrets
.env


# Logs and temporary files
*.log
*.swp
.pytest_cache/
.DS_Store
