# Python virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Dataset
data/

# --------------------------------------------------
# Models
# --------------------------------------------------

# Ignore Keras models by default
models/**/*.keras

# But track the selected trained bottle model
!models/bottle/cae.keras

# Ignore backup model copies
models/**/pre_mlflow_backup/

# --------------------------------------------------
# MLflow
# --------------------------------------------------

# We intentionally TRACK:
#   mlflow.db
#   mlruns/
#   mlartifacts/
#
# because this repository contains the MLflow
# experiment metadata and artifacts.

# --------------------------------------------------
# Environment / secrets
# --------------------------------------------------

.env

# Logs and temporary files
*.log
*.swp
.pytest_cache/
.DS_Store
